<div id="<%= dom_id my_favorite_anime %>">


  <p> 
    <strong>Title:</strong>
    <%= my_favorite_anime.title %>
  </p>

  <p>
    <strong>Sinopse:</strong>
    <%= my_favorite_anime.description %>
  </p>

  <p>
    <strong>Numero de Episodios:</strong>
    <%= my_favorite_anime.text %>
  </p>

</div>
