<p style="color: green"><%= notice %></p>

<h1>My favorite animes</h1>

<div id="my_favorite_animes">
  <% @my_favorite_animes.each do |my_favorite_anime| %>
    <%= render my_favorite_anime %>
    <p>
      <%= link_to "Show this my favorite anime", my_favorite_anime %>
    </p>
  <% end %>
</div>

<%= link_to "New my favorite anime", new_my_favorite_anime_path %>
